<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Messages</a></li>
        <% if (currentUser) { if(!currentUser.membership) {%>
        <li><a href="/membership">Become a Member</a></li>
        <% } %>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% }; %>
      </ul>
    </header>
    <main>
      <h1>Messages</h1>
      <% if (currentUser) { %>
      <a href="/newMessage">New message</a>
      <% }; %>
      <section>
        <% allMessages.map((message) => { %>
        <div class="message">
          <h3><%= message.title %></h3>
          <% if (currentUser) { %>
          <div>Author: <%= message.author.firstName %> <%= message.author.lastName %></div>
          <% }; %>
          <p><%= message.body %></p>
          <div class="date">Date: <%= message.timestamp %></div>
        </div>
        <% }); %>
      </section>
    </main>
  </body>
</html>
